.pagination{
  display: flex;
  justify-content: space-between;
}

.page_numbers{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


.page_number{
  width: 25px;
  height: 25px;
  border: solid 1px #E9E8E9;
  text-align: center;
}

.page_number_now{
  width: 25px;
  height: 25px;
  border:1px solid #E9E8E9;
  text-align: center;
  background-color: black;
  color: white;
}

.page_url{
  text-decoration: none;
  color: black;
}

.opinion_table{
  border-spacing: 0;
  width: 100%;
}

.table_header{
  border-bottom:3px solid black;
}

.admin_opinion{
  background-color: aquamarine;
  display: block;
  width: 40ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.admin_opinion:hover {
  white-space: normal;
}

.table_example{
  color: #CDCDCD;
  font-size: 15px;
}

.width_title{
  width: 80%;
}

.contact_form{
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 100%;
  height: 40px;
}

.contact_form_p {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  width: 95%;
  height: 40px;
}

.contact_button{
  display: none;
}



.opinion_form{
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  height: 100px;
  width: 100%;
}

.form_title{
  width: 150px;
}

.form_table{
  width: 100%;
}

.form_row{
  height: 75px;
}

.thanks_body{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button_submit{
  background-color: black;
  color: white;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  border-radius: 3px;

}